<content>
	<div class="heading">
		<h1>2048</h1>
		<div class="scores-container">
			<div class="score-container">
				<span class="name">Score</span>
				<span class="value">0</span>
			</div>
			<div class="best-container">
				<span class="name">Best</span>
				<span class="value">0</span>
			</div>
		</div>
	</div>
	<div class="game-container">
		<div class="game-message">
			<p></p>
			<div class="lower">
				<span class="button keep-playing" data-click="keep-playing">Keep going</span>
				<span class="button retry" data-click="restart">Try again</span>
			</div>
		</div>
		
		<div class="grid-container">
			<div class="grid-row">
				<div class="grid-cell"></div>
				<div class="grid-cell"></div>
				<div class="grid-cell"></div>
				<div class="grid-cell"></div>
			</div>
			<div class="grid-row">
				<div class="grid-cell"></div>
				<div class="grid-cell"></div>
				<div class="grid-cell"></div>
				<div class="grid-cell"></div>
			</div>
			<div class="grid-row">
				<div class="grid-cell"></div>
				<div class="grid-cell"></div>
				<div class="grid-cell"></div>
				<div class="grid-cell"></div>
			</div>
			<div class="grid-row">
				<div class="grid-cell"></div>
				<div class="grid-cell"></div>
				<div class="grid-cell"></div>
				<div class="grid-cell"></div>
			</div>
		</div>
		<div class="tile-container"></div>
	</div>
</content>
