
@media ( min-width: 320px ) {
	[data-mobile="true"] {
		[data-id="2048"] {
			.win-body_ content {
				padding: 13px 13px;
				--grid-spacing: 8px;
				--tile-size: 64px;
				--font-size: 35px;

				.heading {
					.scores-container {
						.score-container,
						.best-container {
							position: relative;
							background-image: radial-gradient(ellipse at bottom center, #ffffff37, transparent);

							&:after {
								content: "";
								position: absolute;
								bottom: 0;
								left: 3px;
								right: 3px;
								height: 1px;
								background: linear-gradient(90deg, transparent, #f7f7f799, transparent);
								mix-blend-mode: soft-light;
							}
						}
					}
				}

				.tile-container {
					filter: saturate(1.25) drop-shadow(0 0 3px rgba(#000,.2));

					.tile {
						&:after {
							content: "";
							position: absolute;
							bottom: 5px;
							left: 3px;
							right: 3px;
							height: 1px;
							background: linear-gradient(90deg, transparent, #f7f7f7, transparent);
							mix-blend-mode: soft-light;
						}

						.tile-inner {
							background-image: radial-gradient(ellipse at bottom center, #ffffff27, transparent);
							text-shadow: 0 1px 1px rgba(#000,.075);
						}
					}
				}

				.game-message {
					.button {
						position: relative;
						
						&:after {
							content: "";
							position: absolute;
							bottom: 0;
							left: 3px;
							right: 3px;
							height: 1px;
							background: linear-gradient(90deg, transparent, #f7f7f799, transparent);
							mix-blend-mode: soft-light;
						}
					}
				}
			}
		}
	}
}

@media ( min-width: 321px ) and ( max-width: 413px ) {
	[data-mobile="true"] {
		[data-id="2048"] {
			.win-body_ content {
				--grid-spacing: 12px;
				--tile-size: 70px;

				.game-container {
					top: 3px;
					left: 3px;
				}
			}
		}
	}
}

@media ( min-width: 414px ) {
	[data-mobile="true"] {
		[data-id="2048"] {
			.win-body_ content {
				--grid-spacing: 12px;
				--tile-size: 80px;
				--font-size: 42px;

				.game-container {
					top: 4px;
					left: 4px;
				}
			}
		}
	}
}
