
[data-ui="royale-amber"] {
	content {
		.game-container {
			.game-message {
				&.game-over {
					background: #4a330c9c;

					p {
						color: #fff;
						text-shadow: 0 0 5px #fff;
					}
				}
			}
		}

		.tile-container {
			mix-blend-mode: hard-light;
			filter: sepia(.5);
		}
	}
}

[data-ui="royale-black"] {
	content {
		.game-container {
			.game-message {
				&.game-over {
					background: #150b5c8a;

					p {
						color: #fff;
						text-shadow: 0 0 5px #fff;
					}
				}
			}
		}

		.tile-container {
			mix-blend-mode: hard-light;
			filter: saturate(.75) hue-rotate(200deg);
		}
	}
}

[data-ui="royale-purple"] {
	content {
		.game-container {
			.game-message {
				&.game-over {
					background: #57247259;

					p {
						color: #fff;
						text-shadow: 0 0 5px #fff;
					}
				}
			}
		}

		.tile-container {
			mix-blend-mode: hard-light;
			filter: saturate(0.75) sepia(.25) hue-rotate(240deg);
		}
	}
}

[data-ui="royale-emerald"] {
	content {
		.game-container {
			.game-message {
				&.game-over {
					background: #091e0f59;

					p {
						color: #fff;
						text-shadow: 0 0 5px #fff;
					}
				}
			}
		}

		.tile-container {
			mix-blend-mode: hard-light;
			filter: saturate(.75) hue-rotate(310deg);
		}
	}
}
